*{
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    background-color: #f6dfc7;
    display: flex;
    width: 100%;
    z-index: 1000;
    border-bottom:solid black 3px ;
}


body{
    background-color: #EEEEEE;
}

.cuerpo{
    margin-left: 15px;
    margin-right: 30px;
    background-color: #CDC2AE;
    border-radius: 7px;
    margin-top: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.content{
    margin-right: 70px;
    margin-left: 70px;
    padding-bottom: 30px;
    display:flex;
    }

#titulo{
    transition: all 0.5s ease; 
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    font-size: 70px;
    color:rgb(92, 68, 68);
    display: inline-block;     
    border-radius: 5px;
    box-shadow: none;           
    padding: 10px;  
}

#titulo:hover{
    color: rgb(12, 12, 11);           
    transform: rotate(5deg);    
    box-shadow: 0 0 15px #110906; 
}

nav{
    color:rgb(8, 8, 8);
    text-decoration: none;
    margin-left: 660px;
}

a{
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent; 
    display: inline-block;
    font-size:30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 40px;
    text-decoration: none;
    color:black;
    font-family: 'Rubik', sans-serif;
}

#estres{
    height: 350px;
    width: 500px;
    margin-left: 30px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.9);
}

#pregunta{
    margin-left: 90px;
    font-size: 45px;
    padding-top: 200px;
    padding-bottom: 30px;
    
}

#parrafo{
    text-align: center;
    font-size: 23px;
}

#test:hover{
    color: white;
    font-size:38px;
    border-color: black; 
}

#consejos:hover{
    color: white;
    font-size:38px;
    border-color: black; 
}

#seccion:hover{
    color: white;
    font-size:38px;
    border-color: black; 
}

#dimensiones{
    margin: 50px;
    border-radius: 7px;
    background-color:#f3d8a5;
    padding: 10px;
    text-align: center;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Young Serif', serif;
}

#columnas{
    margin-top: 40px;
    margin-bottom: 50px;
    display:flex;
   
}

#emocional{
    margin-right: 70px;
    margin-left: 70px;
    background-color:#f3d8a5;
    padding: 20px;
    border-radius: 7px;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Young Serif', serif;
}

#despersonalizaccion{
    margin-right: 30px;
    margin-left: 30px;
    background-color: #f3d8a5;
    padding: 20px;
    border-radius: 7px;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Young Serif', serif;
}
 
#realizacion{
    margin-right: 70px;
    margin-left: 70px;
    background-color: #f3d8a5;
    padding: 20px;
    border-radius: 7px;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Young Serif', serif;
}

#cuerpo2{
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    background-color: #CDC2AE;
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap;
    min-width: 250px;
}

#Caracteristicas{
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid black;
}

.dimen{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info{
    padding-top: 5px;
    padding-bottom: 5px;
}


@media  (max-width:900px) 
{
    header{
        position: absolute;
        top: 0;
        background-color: #f6dfc7;
        display: flex;
        width: 100%;
        z-index: 1000;
        border-bottom:solid black 3px ;
    }
    body{
        background-color: #EEEEEE;
    }
    .cuerpo{
        margin-left: 2%;
        margin-right: 2%;
        background-color: #CDC2AE;
        border-radius: 5%;
        margin-top: 25%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        width:auto;
        height: 4%;
        padding-top: 2%;
    }
    .content{
    margin-right: 4%;
    margin-left: 4%;
    padding-bottom: 30px;

    display:flex;
    }
    #titulo{
        background-color: #f6dfc7;
        transition: all 0.5s ease;
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left: 5%;
        font-size: 5vw;
        color:rgb(92, 68, 68);
        display: inline-block;     
        border-radius: 8px;
        box-shadow: none;           
        padding: 1%;  
    }
    #titulo:hover{
        color: rgb(12, 12, 11);           
        transform: rotate(5deg);    
        box-shadow: 0 0 15px #110906; 
    }
    nav{
        color: rgb(2, 2, 2);
        text-decoration: none;
        margin-left:auto;
    }
    
    a{
        background-color: #f6dfc7;
        transition: all 0.3s ease;
        border-bottom: 2px solid transparent; 
        display: inline-block;
        font-size:2vw;
        padding-right: 1.5vw; 
        padding-left: 1.5vw; 
        padding-top: 4vh; 
        color: black;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
        
    }
    
    #test:hover{
        color: white;
    font-size:38px;
    border-color: black; 
    }
    
    #consejos:hover{
        color: white;
        font-size:38px;
        border-color: black;
    }
    
    #seccion:hover{
        color: white;
    font-size:38px;
    border-color: black; 
    }
    #estres{
        height: 40%;
        width: 50%;
        margin-left: 10%;
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.9);
    }
    #pregunta{
        margin-left: 4%;
        font-size: 3vw;
        padding-top: 3%;
        padding-bottom: 2%;
        
    }
    #parrafo{
        margin-left: 4%;
        font-size: 2vw;
        text-align: left;
        
    }
    #dimensiones{
        margin: 3%;
        border-radius: 3%;
        background-color:#f3d8a5;
        padding: 5%;
        text-align: center;
        box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
        font-family: 'Young Serif', serif;
    }
    #dimensiones h2{
        font-size:4vw ;
    }
    #columnas{
        margin-top: 7%;
        margin-bottom: 7%;
        display:flex;
        margin-left: 1%;
        margin-right: 1%;
        width: auto;
       
    }
    #emocional{
        margin-right: 1%;
        margin-left: 2%;
        background-color:#f3d8a5;
        padding: 2%;
        border-radius: 2%;
        box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
        font-family:'Young Serif', serif ;
    }
    #emocional H2{
        font-size: 3vw;
        text-align: center;
    }
    #emocional p{
        font-size: 2vw;
       
    }
    #despersonalizaccion{
        margin-right: 1%;
        margin-left: 2%;
        background-color: #f3d8a5;
        padding: 2%;
        border-radius: 2%;
        box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
        font-family: 'Young Serif', serif;
    }
    #despersonalizaccion H2{
        font-size: 3vw;
        text-align: center;
    }
    #despersonalizaccion p{
        font-size: 2vw;
      
    }
     
    #realizacion{
        margin-right: 2%;
        margin-left: 1%;
        background-color: #f3d8a5;
        padding: 2%;
        border-radius: 2%;
        box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
        font-family: 'Young Serif', serif;
        
    }
    #realizacion H2{
        font-size: 3vw;
        text-align: center;
    }
    #realizacion p{
        font-size: 2vw;
        
    }
    #cuerpo2{
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 7%;
        background-color: #CDC2AE;
        border-radius: 7px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        font-family: 'Open Sans', sans-serif;
        padding-left: 2%;
        padding-right: 2%;
        flex-wrap: wrap;
        min-width: 50%;
    }
    #Caracteristicas{
        font-size: 7vw;
        padding-top: 15px;
        padding-bottom: 5px;
        text-align: center;
        border-bottom: 2px solid black;
    }
    
    .dimen{
        font-size: 5vw;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .info{
        font-size: 4vw;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

