*{
    padding: 0;
    margin: 0;
}

#cabezera{
    top: 0;
    background-color: #f6dfc7;
    display: flex;
    width: 100%;
    border-bottom:solid black 3px ;
}

#name{
    transition: all 0.5s ease; 
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    font-size: 40px;
    color:rgb(92, 68, 68);
    display: inline-block;     
    border-radius: 5px;
    box-shadow: none;           
    padding: 10px;  
    text-decoration: none;
    font-family: none;
}

#name:hover{
    color: rgb(12, 12, 11);           
    transform: rotate(5deg);    
    box-shadow: 0 0 15px #110906; 
}

nav{
    color: rgb(2, 2, 2);
    text-decoration: none;
    margin-left: auto;
}

a{
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent; 
    display: inline-block;
    font-size:30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 40px;
    color: black;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

#test:hover{
    color:white;
    font-size:38px;
    border-color: black; 
}

#consejos:hover{
    color: white;
    font-size:38px;
    border-color: black; 
}

#seccion:hover{
    color: white;
    font-size:38px;
    border-color: black; 
}

#recetas{
    z-index: 2;
    position: absolute;
    margin-left: 700px;
    margin-top: 210px;
    font-weight: normal;
    font-family: 'Young Serif', serif;
    font-size: 90px;
}
#inicio{
    margin-left: 450px;
        width: 50%;
        height: auto;
        z-index: 1;
        border-radius: 20px;
}

body{
    background-color: #EEEEEE;
}

.posicion-verde{
    margin-left: 40px;
    margin-right: 40px;
    padding: 30px;
    margin-top: 33px;
    margin-bottom: 20px;
    display: block;
    background-color: #A4BFA7;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    border: 2px solid black;
}

.posicion-cafe{
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    margin-top: 20px;
    display: block;
    background-color: #C98860 ;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    border: 2px solid black;
}

#button {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    width: 15%;
    display: block;
    margin-left: auto;
    padding: 3px;
    background-color: #050c0c;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid black; 
    transition: background-color 0.4s, color 0.4s; 
}

#button:hover {
    background-color: rgb(241, 241, 233);
    color: black;
    border: 2px solid black; 
}
.img1 {
    width: 300px;
    height: 200px;
}
.img2 {
    width: 300px;
    height: 200px;
    margin-left: 1200px;
}
.container{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.info-box{
    margin-left: 40px;
    

}
.info-box h2{
    font-size: 35px;
}
.info-box p{
    font-size: 20px;
}
.info-box h3{
    font-size:25px ;
}
.info-box2{
    margin-left: -1490px;
    text-align: right ;
}
.info-box2 h2{
    font-size: 35px;
}
.info-box2 p{
    font-size: 20px;
}
.info-box2 h3{
    font-size:25px ;
}
.info-box2a{
    margin-left: -1260px;
    text-align: right ;
}
.info-box2a h2{
    font-size: 35px;
}
.info-box2a p{
    font-size: 20px;
}
.info-box2a h3{
    font-size:25px ;
}


@media (max-width:900px)
{
    
    #cabezera {
        top: 0;
        background-color: #f6dfc7;
        display: flex;
        width: 100%;
        border-bottom: solid black 3px;
    }
    #name {
        transition: all 0.5s ease;
        margin-top: 1.5vw; 
        margin-bottom: 1.5vw; 
        margin-left: 5vw; 
        font-size: 5vw; 
        padding: 2vw; 
    }
    #name:hover{
        color: rgb(12, 12, 11);           
        transform: rotate(5deg);    
        box-shadow: 0 0 15px #110906; 
    }
    nav{
        color: rgb(2, 2, 2);
        text-decoration: none;
        margin-left: auto;
        margin-top: 4%;
    }
    a {
        transition: all 0.3s ease;
        border-bottom: 2px solid transparent;
        display: inline-block;
        font-size: 2vw;
        padding: 2vw 3vw; 
        color: black;
        text-decoration: none;
        font-family: 'Rubik', sans-serif;
    }
    #test:hover{
        color:white;
        font-size:38px;
        border-color: black; 
    }
    
    #consejos:hover{
        color: white;
        font-size:38px;
        border-color: black; 
    }
    
    #seccion:hover{
        color: white;
        font-size:38px;
        border-color: black; 
    }
    
    #inicio{
        margin-left: 20%;
        width: 60%;
        height: auto;
        z-index: 1;
        border-radius: 15px;
    }
    #recetas {
        z-index: 2;
        position: absolute;
        margin-left: 35%;
        margin-top: 9%;
        font-weight: normal;
        font-family: 'Young Serif', serif;
        font-size: 7vw
    }
    #body{
        background-color: #EEEEEE;
    }
    .posicion-verde{
    margin-left: 3%;
    margin-right: 3%;
    padding: 7%;
    margin-top: 4%;
    margin-bottom: 5%;
    display: block;
    background-color: #A4BFA7;
    border-radius: 5%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    border: 2px solid black;
}

.posicion-cafe{
    margin-left: 4%;
    margin-right: 4%;
    padding: 7%;
    margin-top: 4%;
    margin-bottom: 5%;
    display: block;
    background-color: #C98860 ;
    border-radius: 5%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    border: 2px solid black;
}

#button {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 2vw; 
    width: 15%;
    display: block;
    margin-right: 20px;
    padding: 1vw; 
    background-color: #050c0c;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 1vw; 
    border: 2px solid black;
    transition: background-color 0.4s, color 0.4s;
}

#button:hover {
    background-color: rgb(241, 241, 233);
    color: black;
    border: 2px solid black; 
}
.img1 {
    width: 150px;
    height: 100px;
    margin-left: -6%;
   
}
.img2 {
    width: 100px;
    height: 100px;
    margin-left: 74%;
}
.container{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}
.info-box{
    margin-left: 7%;
    

}
.info-box h2{
    font-size: 4vw;
}
.info-box p{
    font-size: 2vw;
}
.info-box h3{
    font-size:3vw ;
}
.info-box2{
    margin-left: -100%;
    text-align: justify;
    
}
.info-box2 h2{
    font-size: 4vw;
}
.info-box2 p{
    font-size: 2vw;
}
.info-box2 h3{
    font-size:3vw ;
}
.info-box2a{
    margin-left: -100%;
    text-align: justify ;
}
.info-box2a h2{
    font-size: 4vw;
}
.info-box2a p{
    font-size: 2vw;
}
.info-box2a h3{
    font-size:3vw ;
}
}